@media screen and (min-width: 992px) and (max-width: 1199.98px){
    main .animationstop .wrapper{
        width: 960px;

    }
    
    main .animationstop .logo4word{
        left: 134px;
    }
    
    main .animationstop .logoll{
        left: 410px;
    }
    
    
    @keyframes logoll {
        0%{
            opacity: 1;
        }
        1.25%{
            opacity: 0;
        }
        2.5%{
            opacity: 1;
        }
        3.75%{
            opacity: 0;
        }
        25%{
            left: 390px;
            opacity: 1;
        }
        50%{
            left: 119.87px;
            opacity: 1;
        }
        75%{
            left: 119.87px;
            opacity: 1;
            top: 209.3px;
        }
        100%{
            top:150px;
            left: 119.87px;
            opacity: 1;
        }
        
    }
    
    
    
    main .animationstop .logolr{
        clip-path: polygon(53% 93%, 88% 71%, 88% 0, 100% 0, 100% 74%, 58% 100%, 0 100%, 0 93%);
        left: 181.54px;
        opacity: 0;
    }
    
    main .animation .logolr{
        animation: logo_rest 2s 2s 1 linear forwards;
    }
    
    @keyframes logo_rest {
        0%{opacity: 0;}
        2.5%{opacity: 1;}
        5%{opacity: 0;}
        7.5%{opacity: 1;}
        10%{opacity: 0;}
        50%{
            opacity: 1;
            top: 209.3px;
        }
        100%{
            opacity: 1;
            top: 150px;
        }
    
    }
    
    @keyframes logo_m {
        25%{opacity: 0;}
        25.5%{
            opacity: 1;}
        26.25%{opacity: 0;}
        27.5%{opacity: 1;}
        28.75%{opacity: 0;}
        50%{
            opacity: 1;
            top: 209.3px;
        }
        75%{
            opacity: 1;
            top: 209.3px;
        }
        100%{
            opacity: 1;
            top: 150px;
        }
    
    }
    
    main .animationstop .logocl{
        clip-path: polygon(42% 0, 100% 0, 100% 7%, 47% 7%, 12% 29%, 12% 100%, 0 100%, 0 26%);
        right: 500px;
        opacity: 0;
    }
    
    main .animation .logocl{
        animation: logo_m 4s 1 linear forwards;
    }
    
    main .animationstop .logocc{
        clip-path: polygon(56% 0, 56% 100%, 44% 100%, 44% 0);
        left: 430.7px;
        opacity: 0;
    }
    
    main .animation .logocc{
        animation: logo_m 4s 1 linear forwards;
    }
    
    main .animationstop .logocr{
        clip-path: polygon(58% 0, 100% 26%, 100% 100%, 88% 100%, 88% 29%, 53% 7%, 0 7%, 0 0);
        left: 500px;
        opacity: 0;
    }
    
    main .animation .logocr{
        animation: logo_m 4s 1 linear forwards;
    }
    
    main .animationstop .logorl{
        clip-path: polygon(42% 0, 100% 0, 100% 7%, 47% 7%, 12% 29%, 12% 100%, 0 100%, 0 26%);
        right: 181.54px;
        opacity: 0;
    }
    
    main .animation .logorl{
        animation: logo_rest 2s 2s 1 linear forwards;
    }
    
    main .animationstop .logorr{
        clip-path: polygon(53% 93%, 88% 71%, 88% 0, 100% 0, 100% 74%, 58% 100%, 0 100%, 0 93%);
        /* right: 139.87px; */
        right: 410px;
        opacity: 0;
    }
    
    main .animation .logorr{
        animation: logorr 4s 1 linear forwards;
    }
    
    @keyframes logorr {
        0%{
            opacity: 1;        
        }
        1.25%{
            opacity: 0;      
        }
        2.5%{
            opacity: 1;
        }
        3.75%{
            opacity: 0;
        }
        25%{
            right: 410px;
            opacity: 1; 
        }
        50%{
            right: 139.87px;
            opacity: 1; 
        }
        75%{
            right: 139.87px;
            opacity: 1;
            top: 209.3px;
        }
        100%{
            top:150px;
            right: 139.87px;
            opacity: 1;
        }
        
    }
    
    main .animationstop .logoinside{  
        overflow: hidden;
        top: 173px;
    }
    
    main .animationstop .logoinside1{
        width: 133.25px;
        height: 174.37px;
        clip-path: polygon(0 100%, 0 25%, 33% 0, 100% 0, 100% 75%, 67% 100%);
        left: 163px;
        opacity: 0;
    }
    
    main .animation .logoinside1{
        animation: logoinside .5s 4s 1 linear forwards;
    }
    
    main .animationstop .logoinside2{
        width: 99.7px;
        height: 190.64px;
        left: 384px;
        clip-path: polygon(0 100%, 0 23.2%, 44.4% 0, 100% 0, 100% 100%);
        opacity: 0;
    }
    
    main .animation .logoinside2{
        animation: logoinside .5s 4.5s 1 linear forwards;
    }
    
    main .animationstop .logoinside3{
        width: 99.7px;
        height: 190.64px;
        right: 384px;
        clip-path: polygon(0 100%, 0 0, 55.6% 0, 100% 23.2%, 100% 100%);
        opacity: 0;
    }
    
    main .animation .logoinside3{
        animation: logoinside .5s 5s 1 linear forwards;
    }
    
    main .animationstop .logoinside4{
        width: 133.25px;
        height: 174.37px;
        clip-path: polygon(0 100%, 0 25%, 33% 0, 100% 0, 100% 75%, 67% 100%);
        right: 163px;
    
        opacity: 0;
    }
    
    main .animation .logoinside4{
        animation: logoinside .5s 5.5s 1 linear forwards;
    }
    
    @keyframes logoinside {
        0%{opacity: 0;}
        25%{opacity: .5;}
        100%{opacity: .3;}
    }
    
    
    main .animation .logoinside1 img{
        animation: logoinsideimg1 1s 4.5s 1 linear forwards;
    }
    
    @keyframes logoinsideimg1{
        0%{}
        100%{ transform: translate(-20%, 0);}
    }
    
    main .animation .logoinside2 img{
        animation: logoinsideimg2 1s 5s 1 linear forwards;
    }
    
    @keyframes logoinsideimg2{
        0%{}
        100%{ transform: translate(0, -20%);}
    }
    
    main .animationstop .logoinside3 img{
        transform: translate(0, -30%)
    }
    
    main .animation .logoinside3 img{
        animation: logoinsideimg3 1s 5.5s 1 linear forwards;
    }
    
    @keyframes logoinsideimg3{
        0%{}
        100%{ transform: translate(0, -10%);}
    }
    
    main .animationstop .logoinside4 img{
        transform: translate(-50%, 0);
    }
    
    main .animation .logoinside4 img{
        animation: logoinsideimg4 1s 6s 1 linear forwards;
    }
    
    
    @keyframes logoinsideimg4{
        0%{}
        100%{ transform: translate(-30%, 0);}
    }
}