@media screen and (min-width: 992px) and (max-width: 1199.98px){

    body{
        min-width: 960px;
    }

    .wrapper{
        max-width: 950px;
    }
    
    .wrapper850{
        max-width: 900px;
    }


    /* footer */
    footer section{
        max-width: 950px;
    }

    /* slider */
    main .slider ul li{
        background-size: contain;
        height: 610px;
    }
}