


@import url("reset.css");

body{
    font-family: "微軟正黑體", 'Noto Sans TC', sans-serif;
    /* "微軟正黑體"; */
    /* min-width: 1100px; */

}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper850{
    max-width: 850px;
    margin: 0 auto;
}

.small_logo{
    /* display: block; */
    width: 160px;
}

.small_logo img{
    width: 100%;
    display: block;
}

p{
    font-size: 16px;
    line-height: 1.6;
}

h2{
    font-size: 40px;
    text-align: center;
}

h3{
    font-size: 50px;
}

h4{
    font-size: 24px;
}

a{
    display: block;
    text-decoration: none;
}

a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #000;
}
a:active {
    color: #000;
}

.links .wrapper{
    padding: 100px 0;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .links a{
    height: 300px;
    width: 300px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}



.subtitle {
    width: 210px;
    margin: 60px auto;
}

.subtitle h2{
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

.subtitle h2::before{
    display: block;
    content: "";
    width: 210px;
    height: 50px;

    clip-path: polygon(0 100%, 0 41.9%, 10% 0, 97.2% 0, 97.2% 11.7%, 11.1% 11.7%, 2.8% 46.8%, 2.8% 100%);

    position: absolute;
    top: 0;

    transition: all 2s;
    
}

.subtitle h2::after{
    display: block;
    content: "";
    width: 210px;
    height: 50px;

    clip-path: polygon(2.8% 100%, 2.8% 88.3%, 88.9% 88.3%, 97.2% 53.2%, 97.2% 0, 100% 0, 100% 58.1%, 90% 100%);

    position: absolute;
    bottom: 0;

    transition: all 1s;
     
}

.subtitle_animation h2::before{
    transform: translate(2px, 15px);    
}

.subtitle_animation h2::after{
    transform: translate(-3.6px, -10px);   
}

.cliper_path_left{
    clip-path: polygon(25% 0%, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
}

.cliper_path_center{
    clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
}

.cliper_path_right{
    clip-path: polygon(0 0, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0 75%);
}

.breadcrumb ul{
    display: flex;
    max-width: 250px;
    padding: 40px 0;
    flex-wrap: wrap;
}

.breadcrumb li{
    margin-right: 10px;
}

.unchoose{
    opacity: .3;
}


/* slider */

main .slider{
    /* border: 1px solid #000; */
    margin:30px 0 110px;

    display: none;
}

main .slider ul{
    /* display: flex; */
    width: 100%;
    position: relative;
    padding-bottom: 68%;
    overflow: hidden;
}

main .slider ul li{
    /* border: 1px solid #000; */
    width: 100%;
    /* height: 640px; */
    flex-shrink: 0;
    transition: all 1s;
    position: absolute;
    top: 0px;
    right: -110%;
    opacity: 0;
}

main .slider ul li img{
    width: 100%;
}

main .slider ol{
    width: 150px;
    margin: 10px auto;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .slider ol li{
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    opacity: .5;
}

main .slider ol li:hover{
    cursor: pointer;
}



/* switch class*/

.switch{
    display: inline-block;
    width: 66px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-left: 20px;
}

.switch span{
    display: block;
    position: absolute;

}

.switch_open{
    width: 65px;
    background-color: #333;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    display: none;
}

.switch_close{
    top: 0px;
    left: -1px;
    width: 75px;
    line-height: 20px;
    background-color: #F5F5F7;
    color: #000;
    border-radius: 10px;
    padding-left: 28px;
    box-sizing: border-box;
    transition: all .3s ease-in;
}

.switch_circle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #999;
    top: 2px;
    left: 6px;
    transition: all .3s ease-in;
}


/* ---------------------------go top---------------------- */
#gotop{
    position: fixed;
    
    bottom: 10px;
    right: 10px;
    
    width: 50px;
    height: 50px;

    /* color: #fff; */

    background-color: #c2c2c2;
    opacity: .5;

    border-radius: 5px;

    display: none;
    transition: all 1s;
}

#gotop:hover{
    cursor: pointer;
}

#gotop::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    clip-path: polygon(100% 50%, 100% 70%, 50% 20%, 0 70%, 0 50%, 50% 0);
    margin: 0 auto;
    margin-top: 18px;
}

/* -------------------------- header -------------------------- */
.wrapper header{
    height: 45px;
    margin-top: 40px;

    /* border: 1px solid #000; */

    display: flex;
    align-items: flex-end;
    /* overflow: hidden; */
    border-bottom: 1px solid #808080;
    padding-bottom: 10px;
}

/* logo */
.wrapper header .small_logo{
    /* align-self: flex-start; */
    width: 126px;
}

/* 主選單 */

header nav{
    /* border: 1px solid black; */
    /* width: 600px; */
    margin-left: auto;
    /* padding-bottom: 10px; */
    box-sizing: border-box;
}

header nav img{
    display: none;
}

header ul{
    display: flex;
    width: 650px;
    height: 18px;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    transition: all 1s;
    
}

header li a{
    font-size: 18px;
    color: #808080;
}

header li a:hover{
	color: #000;
}

header li{
    /* border: 1px solid #000; */
    flex-grow: 1;
    text-align: center;
    background-image: url("../img/icon_sprite.png");
    background-repeat: no-repeat;
    
}

header li:nth-child(2){ background-position: 0 -23px; }
header li:nth-child(3){ background-position: 0 -46px; }
/* header li:nth-child(4){ background-position: 0 -69px; } */
header li:nth-child(4){ background-position: 0 -92px; }
header li:nth-child(5){ background-position: 0 -115px; }





/* -------------------------- footer -------------------------- */

footer{
	background-color: #000;
	/* height: 200px; */
    color: #fff;
    /* min-width: 1440px; */
    padding-bottom: 30px;
}

footer .wrapper{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer #footer_data{
    max-width: 374px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .icon{
    height: 55px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

footer .icon img{
    height: 55px;
}

footer .icon a:first-child img:hover{
    background-color: #3CB156;
    border-radius: 10px;
}

footer .icon a:last-child img:hover{
    background-color: #375799;
    border-radius: 5px;
}

footer section{
    max-width: 950px;
    margin: 0 auto;
}

footer section span{
    /* text-align: center; */
    margin-left: 100px;
    line-height: 1.6;
}

footer section a{
    display: inline;
    color: #fff;
    line-height: 1.6;
}

footer section a:link {
    color: #fff;
}
footer section a:visited {
    color: #fff;
}
footer section a:hover {
    color: #fff;
}
footer section a:active {
    color: #fff;
}