@media screen and (min-width: 576px) and (max-width: 767.98px){
    body{
        min-width: 540px;
    }

    .wrapper{
        max-width: 540px;
    }
    
    .wrapper850{
        max-width: 540px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 40px;
    }

    /* header */
    .wrapper header {
        justify-content: space-between;
    }

    header nav {
        width: 160px;
        
        /* padding-top: 10px; */
        position: relative;
    }


    header nav img{
        display: block;
        height: 50px;
        /* margin-left: auto;
        margin-bottom: 10px; */
        position: absolute;
        right: 20px;
        top: -45px;
    }

    

    header ul{
        /* width: 160px; */
        width: 540px;
        /* height: 205px; */
        height: 0px;
        position: absolute;
        right: 0px;
        top: 11px;
        border-radius: 3px;
        /* opacity: 0;
        display: none; */
        overflow: hidden;
        
        z-index: 1;

    }

    header li{
        background-image: none;
        width: 100%;
        line-height: 40px;
        box-sizing: border-box;
        border-bottom: 1px solid #808080;
        background-color: #F5F5F7;
    }

    header li a{
        color: #000;
    }
    /* footer */
    footer section{
        max-width: 540px;
    }

    footer section span{
        margin-left: 0px;
    }

    footer .wrapper {
        padding: 30px 0;
        /* width: 380px; */
    }

    footer .small_logo {
        /* flex-grow: 1; */
        width: 130px;
    }

    footer .icon{
        /* flex-grow: 0.2; */
        display: none;
    }

    footer p{
        /* order: 1;
        margin-top: 20px;
        flex-grow: 1;
        text-align: center; */

    }



    /* links */

    .links .wrapper{
        padding: 50px 0;
    }
    
    main .links a{
        height: 220px;
        width: 220px;
        padding-top: 10px;
        padding-left: 10px;
    }

    /* slider */
    main .slider ul li{
        background-size: contain;
        height: 470px;
    }


    .subtitle h2{
        line-height: 60px;
    }

    .subtitle_animation h2::before{
        transform:none;    
    }
    
    .subtitle_animation h2::after{
        transform: none;   
    }

    .subtitle {
        margin: 0 auto 40px;
    }
}