@media screen and (min-width: 576px) and (max-width: 767.98px){
    main .omo .wrapper iframe {
        width: 300px;
        height: 250px;
    }
    
    main .links a div{
        width: 150px;
        height: 150px;
        padding: 25px;
    }

    main .links a div img{
        width: 100px;
    }

    main .omo .wrapper {
        flex-direction: column;
    }

    main .omo .wrapper div {
        padding-left: 0;
    }

    main .omo .wrapper iframe {
        width: 80%;
        margin-bottom: 20px;
    }

    main .contact input {
        width: 90%;
        font-size: 18px;
    }

    main .contact textarea {
        width: 90%;
        font-size: 18px;
    }

    main .contact .submit_data {
        width: 94%;
        font-size: 18px;
        height: auto;
        line-height: 1.6;
    }
}