@media screen and (max-width: 575.98px){
    main .omo .wrapper iframe {
        width: 300px;
        height: 250px;
    }
    
    main .links a div{
        width: 92%;
        height: 92%;
        padding: 0px;
        position: relative;
    }

    main .links a div img{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main .omo .wrapper {
        flex-direction: column;
    }

    main .omo .wrapper div {
        padding-left: 0;
    }

    main .omo .wrapper iframe {
        width: 80%;
        margin-bottom: 20px;
    }

    main .contact input {
        width: 90%;
    }

    main .contact textarea {
        width: 90%;
    }
}