

/* customization */

main .customization{
    margin: 50px auto;
}

main .customization .wrapper850{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    margin-top: 30px;

    max-width: 850px;
}

#show_box{
    width: 376px;
    height: 376px;
    background-color: #fff;
    position: relative;
    border: 3px solid #F5F5F7;
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgb(233, 233, 233);
}

#show_box #intro_img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#show_box #show_logo{
    max-height: 75%;
    max-width: 70%;
    position: absolute;
    top: 20px;
    left: 25px;
    /* border: 1px solid #000; */
    z-index: 1;
    max-height: 50px;
    
}

#show_box #show_logo_temp{
    display: none;
}

#show_box #input_word_show_box{
    width: 41%;
    height: 25%;
    /* border: 1px solid #000; */
    box-sizing: border-box;

    position: absolute;

    top: 137px;
    left: 65px;
}

#show_box #input_word_show_box p{
    text-align: center;
    color: #fff;

    position: absolute;

    /* border: 1px solid #000; */
    box-sizing: border-box;
    line-height: 20px;
    width: 95%;
    display: block;
    transition: all 1s;
    left: 5px;
}



main .customization ul{
    /* border: 1px solid #000; */
    max-width: 410px;
    background-color: #fff;
}

main .customization p{
    font-size: 20px;
}

 main .customization li{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* border: 1px solid #000; */
}

main .customization li:last-child{
    margin-bottom: 0px;
}

main .customization li > p:first-child{
    width: 100px;
    background-color: rgb(245, 245, 245);
    /* background-color: #000; */
    /* color: #fff; */
    font-weight: bold;
    text-align: center;
    margin-right: 40px;
    /* border-bottom: 1px solid #000; */
    border-radius: 5px;
}

main .customization li > input{
    margin-right: 20px;
}

main .customization li div{
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
    max-width: 240px;
    /* border: 1px solid #000; */
}

main .customization li div p{
    position: relative;
    width: 40px;
    text-align: right;
    margin-right: 20px;
    /* border: 1px solid #000; */
    cursor: pointer;
}

main .customization li div p:before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
} 

main .customization li div input{
    margin-bottom: 10px;
    font-family: '微軟正黑體', 'Noto Sans TC', sans-serif;
}

#input_word1, #input_word2, #input_word3{
    width: 115px;
    text-align: center;
    font-family: "微軟正黑體", 'Noto Sans TC', sans-serif;

}


main .customization li div input:last-child{
    margin-bottom: 0;
}


main .customization li i{
    margin-left: 10px;
    margin-bottom: 10px;
}


main .customization li i:hover{
    cursor: pointer;
}

#show_logo_up,#show_logo_down,#show_logo_left,#show_logo_right{
    opacity: .5;
}

#input_word_left1, #input_word_left2, #input_word_left3{
    opacity: .5;
}

#input_word_right1, #input_word_right2, #input_word_right3{
    opacity: .5;
}

main .customization li div span{
    margin-bottom: 10px;
}



/* real ref */

main .real_ref{
    background-color: #F5F5F7;
    background-image: url("../img/background_usb-2.png");
    
}


main .real_ref .wrapper850{
    padding-top: 30px;
    padding-bottom: 80px;
}  

main .real_ref .subtitle h2{
    color: #000;
}

main .real_ref .subtitle h2::before{
    background-color: #000;
}

main .real_ref .subtitle h2::after{
    background-color: #000;
}

main .real_ref ul{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .real_ref li{
    border: 1px solid #000;
    /* margin-left: 30px;*/
    margin-bottom: 30px; 
    border-radius: 3px;
    opacity: .5;
    width: 30%;
}

/* main .real_ref li:nth-child(3n+1){
    margin-left: 0;
} */

main .real_ref li:hover{
    opacity: 1;
    cursor: pointer;
}

main .real_ref li img{
    width: 100%;
}

main .real_ref #light_box{
    width: 100vw;
    height: 100vh;
    background-color: rgba(152, 152, 152, .8);
    opacity: 1;
    position: fixed;
    top: 0;
    display: none;
    
}

main .real_ref #light_box img{
    display: block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}