
/* customization */

main .customization{
    margin: 50px auto;
}

main .customization .wrapper850{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    margin-top: 30px;
}

#show_box{
    width: 376px;
    height: 376px;
    background-color: #fff;
    position: relative;
    border: 3px solid #F5F5F7;
    border-radius: 5px;
}

#show_box #intro_img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#show_box #show_logo{
    height: 70px;
    position: absolute;
    top: 138px;
    left: 66px;
    /* border: 1px solid #000; */
    z-index: 1;
    max-height: 50px;
}

#show_box #input_word_show_box{
    width: 155px;
    height: 94px;
    border: 1px solid #000;
    box-sizing: border-box;

    position: absolute;

    top: 137px;
    left: 65px;
}

#show_box #input_word_show_box p{
    text-align: center;
    color: #fff;

    position: absolute;

    /* border: 1px solid #000; */
    box-sizing: border-box;
    line-height: 20px;
    width: 150px;
    display: block;
    /* margin-bottom: 20px; */
    transition: all 1s;
}

#show_box #input_word_show_box #input_word_show_1{
    /* top: 5px; */
    top: 35px;
    left: 2px;
}

#show_box #input_word_show_box #input_word_show_2{
    /* top: 35px; */
    top: 50px;
    left: 2px;
}

#show_box #input_word_show_box #input_word_show_3{
    top: 65px;
    left: 2px;
    
}



main .customization ul{
    /* border: 1px solid #000; */
    width: 410px;
    background-color: #fff;
}

main .customization p{
    font-size: 20px;
}

 main .customization li{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* border: 1px solid #000; */
}

main .customization li:last-child{
    margin-bottom: 0px;
}

main .customization li > p:first-child{
    width: 110px;
    /* background-color: #000;
    color: #fff; */
    font-weight: bold;
    text-align: center;
    margin-right: 40px;
    border: 1px solid #000;
    border-radius: 3px;
}

main .customization li div{
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
    width: 240px;
    /* border: 1px solid #000; */
}

main .customization li div p{
    position: relative;
    width: 40px;
    text-align: right;
    margin-right: 20px;
    /* border: 1px solid #000; */
    cursor: pointer;
}

main .customization li div p:before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
} 

main .customization li div input{
    margin-bottom: 10px;
    font-family: '微軟正黑體', 'Noto Sans TC', sans-serif;
}

main .customization li div input:last-child{
    margin-bottom: 0;
}


main .customization li i{
    margin-left: 10px;
    margin-bottom: 10px;
}


main .customization li i:hover{
    cursor: pointer;
}




/* real ref */

main .real_ref{
    background-color: #F5F5F7;
    background-image: url("../img/background_usb-2.png");
    
}


main .real_ref .wrapper850{
    padding-top: 30px;
    padding-bottom: 80px;
}  

main .real_ref .subtitle h2{
    color: #000;
}

main .real_ref .subtitle h2::before{
    background-color: #000;
}

main .real_ref .subtitle h2::after{
    background-color: #000;
}

main .real_ref ul{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .real_ref li{
    border: 1px solid #000;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    opacity: .5;
    cursor: pointer;
}

main .real_ref li:nth-child(3n+1){
    margin-left: 0;
}

main .real_ref li:hover{
    opacity: 1;
}