@media screen and (min-width: 768px) and (max-width: 991.98px){
    main .package ul{
        width: 721px;
    }

    main .package li {
        margin-bottom: 30px;
    }

    main .package li a {
        /* justify-content: center; */
    }

    main .package li img{
        width: 345px;
    }

    main .package li div{
        width: 345px;
        height: 249px;
    }

    main .package li div{
        padding: 25px 0;
    }

    main .package li:nth-child(odd) div{
        padding-left: 80px;
    }

    main .package li:nth-child(even) div{
        padding-right: 80px;
    }

    main .package li:nth-child(odd) a:hover img{    
        transform: none;
    }
    
    main .package li:nth-child(even) a:hover img{    
        transform: none;
    }
}