@media screen and (min-width: 576px) and (max-width: 767.98px){
    

    main .page_intro .wrapper850 {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        /* margin-bottom: 200px; */
    }

    main .page_intro ul{
        order: 1;
        margin-top: 30px;
    }
    
    main .page_product .show > img {
        height: 340px;
    }

    main .page_product li img{
        width: 100%;
    }

    main .page_intro img{
        height: 180px;
        transform: rotate(0);
    }

    main .page_intro li div{
        width: 280px;
    }

    main .page_intro li > p:first-child {
        width: 120px;
    }



    main .page_product aside {
        display: none;
    }

    
}