@media screen and (min-width: 576px) and (max-width: 767.98px){
    main .products .prod li:first-child{
        justify-content:left;
    }

    main .products .switch {
        display: none;
    }

    main .products ul {
        flex-direction: row;
        height: 588px;
        
    }

    main .products #first_li,#last_li,#scroll_x_next,#scroll_x_prev{
        display: block;
        /* width: 60px; */
    }

    main #scroll_x_prev i{
        margin-right: 10px;
    }

    main #scroll_x_next i{
        margin-left: 10px;
    }

    main #scroll_x_prev:hover,#scroll_x_next:hover{
        cursor: pointer;
    }


    main .products ul > div{
        display: flex;
        /* scroll-behavior: smooth;  */
        overflow: hidden;
        transition: all 2s;
    }


    /* //捲軸底色 */
    /* main .products ul > div::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        background-color: #eeeeee;
    } */
    /* //捲軸寬度 */
    /* main .products ul > div::-webkit-scrollbar {
        width: 2px;
        background-color: black;
    } */
    /* //捲軸本體顏色 */
    /* main .products ul > div::-webkit-scrollbar-thumb {
        background-color: #b2b2b2;
    } */







    main .products ul > div ol{
        transform: scale(0.8) perspective(1500px) rotateY(-45deg);
        opacity: .4;
    }

    main .products ol li{
        float: none;
        width: 216px;
        height: 180px;

    }

    main .products ol li:first-child{
        width: 72px;
        height: 30px;
    }

    main .products .space::before {
        height: 20px;
        background-color: #fff;
    }

    main .products ol li:first-child h4{
        font-size: 20px;
        line-height: 30px;
    }

    main .products .prod_head {
        
        box-sizing: border-box;
        clip-path: none;
        width: 110px;
        height: 180px;
        padding-top: 65px;
    }



    main .products .prod_h {
        overflow: visible;
        height: 30px;
        height: auto;
        border-left: 1px solid #EFEFF1;
    }

    main .products .prod_h li:first-child {
        background-color: #EFEFF1;
        color: #000;
        width: 100%;
        display: block;
        height: auto;
        clip-path: none;
    }

    main .products .prod_h_1 li:first-child {
        background-color: #EFEFF1;
        color: #000;
        width: 100%;
        display: block;
        height: auto;

        clip-path: none;
    }


}